fastapi==0.115.12
uvicorn==0.19.0
python-jose==3.4.0
web3==6.0.0
eth-account==0.10.0
psycopg2-binary==2.9.10
SQLAlchemy==2.0.40
weasyprint==65.1
passlib[bcrypt]==1.7.4
email-validator>=2.0,<3.0
python-dotenv==1.0.0
openai>=0.27.0
setuptools>=65.0.0

